.about-container {
    margin-top: 75px;
    position: relative;
    left: 37%;
    width: 35%;
    &-personal {
        &-details {
            display: flex;
            .pic {
                margin-right: 30px;
                margin-left: 5px;
                padding-top: 0.5rem;
                img {
                    width: 75px;
                    height: 75px;
                }
            }
            .occupation {
                padding-top: 1.8rem;
                h3 {
                    margin: auto;
                }
                p {
                    margin: auto;
                    color: gray;
                }
            }
        }
    }
    &-bio {
        margin-top: 50px;
        .info {
            margin-top: 10px;
            p {
                color: gray;
            }
            a:link {
                text-decoration: underline;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}